<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" />
    <title>Universis</title>
    <style>
        .mt-4 {
            padding-top: 40px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="mt-4">
            <p>Dear <%= model.candidate.person.givenName %> <%= model.candidate.person.familyName %></p>
            <p>
                Your account has been created successfully and you are ready to complete your registration.
            </p>
            <p>
                Please use the following link:
            </p>
            <p>
                <a href="<%= model.application.url %>">
                    <%= model.application.url %>
                </a>
            </p>
            <p>
                Login by using your inscription number as user name and the following activation code as password:
            <h5>
                <%= model.candidate.user.activationCode %>
            </h5>
            </p>
            <br>
            <p>Best regards</p>
            <p>Universis Support</p>
        </div>
    </div>
</body>

</html>